@{
    ViewData["Title"] = "Add";

}
@model Product
<h1>Ürün ekleme</h1>
<form asp-controller="Products" asp-action="Add" method="post">
    <label>Ürün İsmi :</label>
    <input type="text" asp-for="Name" />
    <br />
    <label>Ürün Fiyat :</label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok       :</label>
    <input type="text" asp-for="Stock" />
    <br />
    <label>Ürün Renk       :</label>
    <input type="text" asp-for="Color" />
<<<<<<< HEAD
    <br />
    <label>Genişlik :</label>
    <input type="text" asp-for="Height" />
    <br />
    <label>Yükseklik :</label>
=======
    <br />    
    <label>Ürün Yüksekliği :</label>
>>>>>>> f45ce05d39c3e147fa82ced516ef2fe8c07f42a5
    <input type="text" asp-for="Weigth" />
    <br />
    <label>Ürün Genişliği  :</label>
    <input type="text" asp-for="Height" />
    <br />
    <button type="submit">Ürün Kaydet</button>



</form>
