
@{
    ViewData["Title"] = "Update";
}

<h1>Ürün güncelleme</h1>
@model Product
<h1>Ürün ekleme</h1>
<form asp-controller="Products" asp-action="Update" asp-route-productID="@Model.Id" method="post">
    
    <label>Ürün İsmi :</label>
    <input type="text" asp-for="Name" />
    <input type="hidden" asp-for="Id" />
    <br />
    <label>Ürün Fiyat :</label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok :</label>
    <input type="text" asp-for="Stock" />
    <br />
    <label>Ürün Renk :</label>
    <input type="text" asp-for="Color" />
    <br />
    <label>Yükseklik :</label>
    <input type="text" asp-for="Height" />
    <br />
    <label>Genişlik :</label>
    <input type="text" asp-for="Weigth" />
    <br />
    <button type="submit">Ürün Kaydet</button>



</form>
