@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExanpleLayout";


}


@section header
{

    <p>Bu Kodlar Headerın Hemen Altına Eklenecek </p>

}
@section footer
    {

    <p>Bu Kodlar Footerın Hemen Altına Eklenecek </p>

}
<div>Bu Sayfa Example Controller > Index Sayfası</div>