 <footer class="border-top footer text-muted">
        <div class="container">
        &copy; Beril Seni Çok Seviyorum - <a asp-area="" asp-controller="Home" asp-action="Privacy">BABAN ;)</a>
        </div>
    </footer>
